<div id="foot">
    <div class="foot-menu">
        <ul class="container">
            <li><i class="iconfont icon-pinzhibaozhengQuality"></i><a href="#">百强企业 品质保证</a></li>
            <li><i class="iconfont icon-7tiantuihuo"></i><a href="#">7天退货 15天换货</a></li>
            <li><i class="iconfont icon-yunfeib"></i><a href="#">48元起免运费</a></li>
            <li><i class="iconfont icon-tianmaoquanguolianbao"></i><a href="#">2000家服务店 全国联保</a></li>
        </ul>
    </div>
    <div class="foot-logo container">
        <img src="/static/img/foot_logo.png" alt="">
    </div>
</div>