<div id="head">
    <div class="header"><span>X</span></div>
    <div class="head-menu container-fuild">
        <div class="container menu">
            <ul class="menu-left l">
                <li><a href="#">首页</a></li>
                <li><a href="#">华为官网</a></li>
                <li><a href="#">花粉俱乐部</a></li>
                <li><a href="#">V码(优购码)</a></li>
                <li><a href="#">企业购</a></li>
                <li><a href="#">Select Region</a></li>
                <li><a href="#">更多精彩</a></li>
            </ul>
            <ul class="menu-right r">
                <li><a href="#">请注册</a></li>
                <li><a href="#">登录</a></li>
                <li><a href="#">我的订单</a></li>
                <li><a href="#">客户服务</a></li>
                <li><a href="#">网站导航</a></li>
                <li><a href="#">手机版</a></li>
                <li><a href="#">购物车</a></li>
            </ul>
        </div>
        
    </div>
    <div class="header-foot container">
        <div class="head-logo l">
            <img src="/static/img/vmall_logo.png" alt="">
        </div>
        <ul class="l">
            <li><a href="#">华为专区</a></li>
            <li><a href="#">莫塞尔专区</a></li>
            <li><a href="#">智慧生活</a></li>
            <li><a href="#">P40系列</a></li>
        </ul>
        <div class="search r">
            <input type="text">
        </div>
    </div>  
</div>