//定义一些全局变量
$defaultColor : #999;
$defaultfontSize : 14px;
$defaultContainer : 1200px;

//css common
html{ overflow-x: hidden;}
.container{width: $defaultContainer;margin: 0 auto;}
.l{float: left;}
.r{float: right;}
.clearfloat:after{content: "";display: block;clear: both;}
.container-fuild{position: relative;}

//样式重置
*{margin: 0;padding: 0;}
body,h1,h2,h3{font-size: $defaultfontSize;color: $defaultColor;}
img{display: block;}
a{color: $defaultColor;text-decoration: none;}
ul,ol{list-style: none;}

// 混入
@mixin posLT {
    position: absolute;
    left:0;
    top:0;
}

@mixin wh100{
    width : 100%;
    height : 100%;
    display : block;
}

@mixin textCenter($h){
    height : $h;
    line-height: $h;
    text-align: center;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}